---
import BaseLayout from "../layouts/BaseLayout.astro";
import ScrollBar from "../components/ScrollBar.astro";
import Header from "../components/Header.astro";
import Overskrift from "../components/Overskrift.astro";
import InfoBoks from "../components/InfoBoks.astro";
import QuoteBoks from "../components/QuoteBoks.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import ReadAloud from "../assets/images/icons/ReadAloud.svg";
import RødtKamera from "../assets/images/Kamera.svg";
import Sti from "../assets/images/Sti.svg";
import Skyer from "../assets/images/Skyer.svg";
import PaperPlane from "../assets/images/PaperPlane.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pierre Falcke</title>
  </head>

    <BaseLayout title="forside">
    <main>
      <section class="header">
          <Header>
            <h1>Det uperfekte<span class="highlight"> Er perfekt</span></h1>
          </Header>
          <div class="center">
          <img src="src/assets/images/icons/ReadAloud.svg" alt="Read Aloud Knap"></div>
      </section>

      <section class="section_1">
        <Overskrift><h2 class="overskrift">Pierre Falcke <span class="highlight">Intro</span></h2></Overskrift>
        
        <div class="StrongText">Pierre Falcke.</div><p>
          Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme
          om at bruge sine egne fotos. <div class="StrongText">Faktisk...</div>
          <p>Kan han slet <span class="redHightlight">ikke fordrage</span> sit eget arbejde.</p>
          
          <img src="src/assets/images/Glass.svg" alt="glasskår" />

          <InfoBoks>
            <h3 class="faktacenter">Fakta om Pierre</h3>
            <div>
              <img src="src/assets/images/icons/Camera.svg" alt="kamera" />
              <p class="sorttekst"><span class="fat">Fotograf fra</span> 10 års alderen.</p>
            </div>
            <div>
              <img src="src/assets/images/icons/DMJX.svg" alt="DMJX logo" />
              <p class="sorttekst"><span class="fat">Fotografisk Journalistik</span> DMJX år 2000.</p>
            </div>
            <div>
              <img src="src/assets/images/icons/Rosette.svg" alt="Rosette" />
              <p class="sorttekst"><span class="fat">Verdens bedste</span>stock-fotograf før endt uddannelse.</p>
            </div>
          </InfoBoks>
        </p>

        <section class="section_2">
          <Overskrift><h2 class="overskrift lang">Pierre Falckes <span class="highlight">Berømmelse</span></h2></Overskrift>
          <p>
            Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at
            fotografere på film op gennem gymnasietiden.
          </p>
            <Image class="RødtCamera" src={RødtKamera} alt="Rødt kamera SVG" />
          <p>
            Pierre gik over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil.  På det
            tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig:
          </p>
            <QuoteBoks>
              <h3>Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn <span class="highlight">lukker.</span></h3>
            </QuoteBoks>
          <p>
            Så Pierre gav sig selv en udfordring: <span class="highlight">At blive landets bedst sælgende stock-fotograf.</span> Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer
            om dagen. Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.
          </p>
        </section>

        <section class="section_3">
          <Overskrift><h2 class="overskrift">En <span class="highlight">Skillevej</span></h2></Overskrift>
            <Image src={Sti} alt="Sti_1" />
            <Image class="sti" src={Sti} alt="Sti_2" />
          <p>
            Pierre søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det <span class="highlight">uperfekte</span>, og hvor der er et uforudsigeligt element
            i det at tage billeder. Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på
            rekordtid.
          </p>
            <QuoteBoks>
              <h3>Det interessante ligger i fejlen. Et foto <span class="highlight">masse af fejl er interessant.</span> Jeg eksperimenterer med udstyr, teknik og skaber nye visuelle udtryk <span class="highlight">Det uperfekte er perfekt.</span></h3>
            </QuoteBoks>

          <InfoBoks>
            <h3 class="faktacenter">Hvad er analog kamera?</h3>
              <img src="src/assets/images/icons/Camera.svg" alt="kamera icon" />
              <p class="sorttekst"><span class="fat">Fotograf med</span> Gammeldags filmrulle.</p>
              <img src="src/assets/images/icons/Fremdrift.svg" alt="Fremdrift pil icon" />
              <p class="sorttekst"><span class="fat">Stigende popularitet</span> Især hos de yngre.</p>
              <img src="src/assets/images/icons/Spirit.svg" alt="Spirit icon" />
              <p class="sorttekst"><span class="fat">Mange mennesker mener at</span>Analog kamera har mere 'sjæl'.</p>
              <img src="src/assets/images/icons/UperfektDesign.svg" alt="Uperfekt icon" />
              <p class="sorttekst"><span class="fat">Giver mulighed for at</span>Eksperimenterer med <span class="highlight">det uperfekte</span>og uforudsigelige i processen.</p>
            </div>
          </InfoBoks>
            <Image src={Skyer} alt="Skyer" />
            <Image src={PaperPlane} alt="PaperPlane" />
        </section>

        <section class="section_4">
          <Overskrift><h2 class="overskrift">En ny<span class="highlight"> Begyndelse</span></h2></Overskrift>
          <p>
            Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig
            stolt af sit arbejde.
          </p>

          <video controls width="250">
            <source src="/src/video/eksperimentel-video.mp4" type="video/mp4" /></video>
            <p>
              Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse
              med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling.
            </p>
           
              <QuoteBoks>
                
                <h3>Nu kan jeg leve igen. Jeg føler mig frisk. Jeg føler mig fri. <span class="highlight">Jeg føler mig genfødt.</span>
                </h3>
       
              </QuoteBoks>
              
        </section>
      </section>
    </main>
    </BaseLayout>
</html>

<style>

  .sorttekst{
    color: #2d2d2d;
  }

  .center{
    text-align: center;
}
  h1 span {
    font-family: "Courier New", Courier, monospace;
  }
  h1,
  h3 span {
    font-weight: 800;
  }

 .overskrift{
    position: relative;
    text-align: center;
    bottom: 90px;
    right: 100px;
 }

 .lang{
    position: relative;
    text-align: center;
    bottom: 90px;
    right: 75px;
 }

  .faktacenter {
    text-align: center;
  }
  .highlight {
    color: #e41088;
  }

  .fat {
    font-weight: 800;
  }
  .ReadALoudKnap {
    display: flex;
    text-align: center;
  }

  .StrongText {
    font-size: 25px;
    font-weight: 800;
    color: #fefefe;
  }

  .redHightlight {
    color: #d10303;
  }
</style>
